* {
    margin: 0px;
    border: 0px;
}

img {
    height: 200px;
}

body {
    background-color:#eff4f9;
}

#header {
    text-align: center;
    margin-top: 10px;
    font-weight: bold ;
    font-size: 88px;
    font-family: sans-serif;
    inline-size: auto;
    color:darkslategrey;
}

.octocat {
    display: block;
}

#o1{
    background-color:#58c6e9;
    justify-content: space-evenly;
    display: flex;
    margin: 15px;
    border: 15px;
    padding: 15px;
}

#o2{
    background-color:#d2a2ba;
    justify-content: space-evenly;
    display: flex;
    margin: 15px;
    border: 15px;
    padding: 15px;
}

#o3{
    background-color:#fbfbfd;
    justify-content: space-evenly;
    display: flex;
    margin: 15px;
    border: 15px;
    padding: 15px;
}

#footer{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: sans-serif;
    inline-size: auto;
    color:grey;
}